.container {

  margin-bottom: 10px;
  display: inline-table;
  margin-top: 2%;
}

.selectBox {
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  width: 85%;
  color: white;
  background-color: #ca1111;
  ;
  font-size: 15px;
  font-family: 'Russo One', sans-serif;
}

.selectBox:hover {
  border-color: #070707;
}