.container{

    border: none;
    margin-bottom: 30px;

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
}

/*.letras{
    color: white;
    font-family: 'Russo One', sans-serif;
    background-color: #ca11116c;
    border: none;
}*/

.selectBox{
    margin-bottom: 10px;
    border-radius: 4px;
    align-items: center;
    padding: 5px 10px 5px 10px;
    width: 150%;
    color: white;
    background-color:#ca1111;;
    font-size: 15px;
    font-family: 'Russo One', sans-serif;
    }

    .selectBox:hover {
        border-color: #070707;
      }
      



