.container{

    margin-top: 2%;
    display: table-caption;
    flex-direction: row;
    justify-content: space-around;
}

.letras{
    color: white;
    font-family: 'Russo One', sans-serif;
    background-color: #ca1111;
    border: none;
}