.boton{
    margin-top: 200px;
    margin-bottom: 300px;
}
.p{
  color: #007bff;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.input {
  color: black;
  background-color: azure;
  font-size: 30px;
  width: 400px;
  height: 180px;
  border-radius: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  justify-content: center;
  resize: none; /* Evita que se pueda redimensionar el área de texto */
  padding: 25px;
}
.buttonSubmit {
  color: rgb(0, 0, 0);
  background-color: rgb(215, 248, 0);
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold; /* Hace que el texto sea más grueso */
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .modalContent h3 {
    margin-top: 0;
  }
  
  .modalContent p {
    margin-bottom: 15px;
  }
  
  .modalContent button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modalContent button:focus {
    outline: none;
  }