.titulo{
  margin-top: 50px;
  font-family: 'Russo One', sans-serif;
  color: #ca1111;
  text-shadow: 4px 4px 5px rgba(0,0,0,0.15);
}


.boton{
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  color: #ca1111;
  padding-inline: 50px;
  padding-bottom: 20px;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.15);
  border-radius: 20px;
}

.home{
  background-color: brown;
  color: white;
}

.ordenes{
  display: grid;
  grid-row: 1fr 1fr 1fr ;
}

.imagen{
  width: 100px;
  height: 80px;
}

.listas{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}