.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container thead tr {
    height: 50px;
}
.container tbody tr {
    height: 50px;
}
.container table {
    table-layout: fixed;
    width: 100%;
}
.evenRow {
    background-color: #353535;
}
.container thead th:nth-child(3) {
    width: 240px;
}
.container thead th:nth-child(5) {
    width: 60px;
}
.container thead th:nth-child(6) {
    width: 60px;
}
.menu3 ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.menu3 li {
    list-style: none;
    cursor: pointer;
    /* width: 50px; */
}
.menu3 p {
    font-size: 12px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: red;
    background-color: #1a1a1a;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}
.container_no_banned {
    width: 400px;
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 1.25em;
}