

.carouselImg {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: 1s;
}

.loaded {
  opacity: 1;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button {
  color: white;
  background-color: #eb118a;
  padding: 8px;
  margin: 0 5px;
  cursor: pointer;
}
