.container_no_banned {
    width: 400px;
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 1.25em;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.evenRow {
    background-color: #353535;
}
.container table {
    table-layout: fixed;
    width: 100%;
}
.container tbody tr {
    height: 60px;
}
.container thead tr {
    height: 50px;
}