.contDetail{
    
    font-family: 'Russo One', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
   
}

.contDetail img{
    border-radius: 15px;
    background-color: azure;
    width: 60%;
  
}
.nameh3{
    margin-top: 25%;
}
.detailz{
    display: flex;
    gap: 50px;
    align-items: center;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.data h1{
    border: 1px solid white;
    width: 300px;
    border-radius: 5px;

}
.data h2{
    color: red;
}
.buttons{
display: flex;
 background-color: red;

 justify-content: center;
 color: black;
 font-size: 25px;
 border-radius: 20px;
}

.buttons button{
    background-color: red;
    width: 300px;
}