.container {
  display: grid;
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.title {
  color: green;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'nexa';
}

.button {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
  font-family: 'nexa';
}

.button:hover {
  background-color: darkgreen;
}
