.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* flex-direction: column; */
  width: 100%;
  /* float: left; */
  /* overflow: hidden; */
  /* margin-bottom: 15px; */

}

.form {
  width: 245px;
  background-color: #ca1111;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-left: 7.5%;
}

.select{

  margin-left: 2px;
  margin-bottom: 15px;
  border-radius: 4px;
  align-items: center;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #ca1111;
  font-size: 15px;
  font-family: 'Russo One', sans-serif;
}

.select:hover {
  border-color: #070707;
}

.label {
  font-size: 15px;
  font-family: 'Russo One', sans-serif;
  color: white;
  margin-right: 12px;
}

.button {
  font-size: 15px;
  font-family: 'Russo One', sans-serif;

  }

.select:hover {
  border-color: #070707;
}
    
.label{
  font-size: 15px;
  font-family: 'Russo One', sans-serif;
  color: white;
  margin-right: 12px;
}

.button{      
  font-size: 15px;
  font-family: 'Russo One', sans-serif;
  color: #ca1111;
  margin-bottom: 15px;
}

.information{
  color: black;
  margin-top: 2%;
  border-radius: 8px;
  font-family: 'Russo One', sans-serif;

}