.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  flex-wrap: nowrap;
  margin-top: 20px;
}

  
  .inputContainer {
    width: 450px;
    margin-right: -55px;
  }
  
  .searchInput {
    background-color: white;
    color: #272727;
    padding: 13px;
    border-radius: 30px;
    border: 2px solid #a81111;
    font-size: 16px;
    flex: 1;
    transition: border-color 0.3s ease;
    width: 100%; /* Hace que la barra de búsqueda ocupe todo el ancho disponible */
  }
  
  .searchInput:focus {
    outline: none;
    border-color: #c9c9c9;
    background-color: azure;
  }
  
  .buttonContainer {

  }
  
  .searchButton {
    background: white;
    color: rgb(212, 0, 0);
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .searchButton:hover {
    transform: scale(1.1);
    background: white;
  }

