.container-recommended-products {
    margin-top: -140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 15px;
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    margin-inline: 15%;
     /* margin: 30px auto; /* Alineación central utilizando 'auto' para los márgenes laterales */
    
  }