.ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .ReactModal__Content {
    position: relative;
    background-color: #ffffff;
    align-items: center;
    border: none;
    outline: none;
    padding: 20px;
    max-width: 450px; /* Ajusta el ancho máximo según tus necesidades */
    max-height: 600px; /* Ajusta la altura máxima según tus necesidades */
    width: 90%; /* Ajusta el ancho según tus necesidades */
    height: 90%; /* Ajusta la altura según tus necesidades */
    margin: auto; /* Agrega esta línea para centrar horizontalmente */
    /* Resto de estilos... */
  }