.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3e2020;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBarContainer {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}

ion-icon {
  font-size: 25px;
  margin-top: 55px;
  margin-left: 2px;
  margin-right: 25px;
}
.navLink:focus {
  outline: none;
  border-color: #ff416c;
}
.word {
  font-size: 70px;
  font-family: "False", sans-serif;
  font-weight: bold;
  background: linear-gradient(to right, #26eec9, #07e970);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .navBar {
    height: 80px;
  }

}