.todo{
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   width: 100%;
   background-color:#ca1111;
   border-top: ridge 1px rgb(160, 160, 160);
   
}

.container {
   position: relative;
   bottom:0;
   left: 0;
   width: 100%;
   height: 150px;
   display: flex;
   /* background-color:#007BFF; */
   justify-content: space-around;
   border-top: ridge 1px rgb(160, 160, 160);
   color: rgb(255, 255, 255);
   margin-top: 30px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-shadow: black 0.1em 0.1em 0.2em
}
.container h1{
   font-size: 16px;
}

.container h3{
   font-size: 14px;
}


.integrantes{
   font-size: 10px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 5px;
   grid-row-gap: 5px;
   height: 50%;

}

.integrantes > :nth-child(4n + 1) {
   margin-bottom: 5px;
}


.nombre{
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding: 10px;
}

.nombre h3, a{
   margin-bottom: 0;
   margin-top: 0;
}

.nombre h3{
   color: rgb(255, 255, 255);
}

.containerName{
   display: flex;
   flex-direction: column;
}

.help{
   display: flex;
   flex-direction: column;
}
.help{
   color: rgb(255, 255, 255);
}
.help h3{
   color: rgb(255, 255, 255);
}

.About{
   display: flex;
   flex-direction: column;
}

.About h1{
   color: black;
}

.derechos{
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 11px;
   border: solid 1px gray;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container_elements {
   display: flex;
   flex-wrap: nowrap;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 90px;
   margin-bottom: 90px;
   gap: 20px;
}

.div_elements {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   width: 25%;
}

.div_elements svg {
   font-size: 40px;
}

.ico {
   display: flex;
}

.text {
   display: flex;
   flex-direction: column;
   margin-left: 20px;
}

.text h3 {
   margin-left: 0px;
   text-align: left;
}

.div_elements span {
   display: flex;
   justify-content: flex-start;
   text-align: left;
}

@media (max-width: 900px) {
   #container_elements {
      /* display: flex; */
      flex-wrap: wrap;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 90px;
      margin-bottom: 90px;
      gap: 20px;
   }
}

@media (max-width: 767px) {
   #container_elements {
      flex-direction: column;
      flex-wrap: wrap;
   }
   
   #container_elements > div {
      margin-bottom: 20px;
   }
}