.todo{
   display: flex;
   flex-direction: column;
   background-color:#ca1111;
   border-top: ridge 1px rgb(160, 160, 160);
   align-items: center;
   position: relative;
}

.derechos{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 13px;
   border-top: solid 1px gray;
   background-color: black;
   font-family: 'Russo One', sans-serif;
   width: 100%;
}

.derechos svg {
   color: #ca1111
}

#container_elements {
   display: flex;
   flex-wrap: nowrap;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 90px;
   margin-bottom: 90px;
   gap: 20px;
}

.div_elements {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   width: 25%;
}

.div_elements svg {
   font-size: 40px;
}

.ico {
   display: flex;
}

.text {
   display: flex;
   flex-direction: column;
   margin-left: 20px;
   margin-right: 20px;
   height: 100%;
}

.text h3 {
   margin-left: 0px;
   text-align: left;
   font-weight: bold;
   font-family: 'Russo One', sans-serif;
}

.div_elements span {
   display: flex;
   justify-content: flex-start;
   text-align: left;
}

#useful_links {
   display: flex;
   padding-top: 50px;
   padding-bottom: 50px;
   gap: 50px;
   justify-content: flex-end;
   background-color: black;
   width: 100%;
}

#useful_links h3 {
   margin-left: 0px;
   text-align: left;
   font-weight: bold;
   font-family: 'Russo One', sans-serif;
}

#useful_links h4 {
   text-align: left;
   padding-right: 50px;
}

#useful_links a {
   display: flex;
   text-align: left;
   color: rgba(255, 255, 255, 0.87);
   flex-direction: row;
   align-items: center;
   flex-wrap: nowrap;
   gap: 10px;
}

.useful_links_div {
   display: flex;
   flex-direction: column;
   width: 40%;
}

.container_links {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.container_links svg {
   width: 16px;
}

.container_members{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 250px;
   background-color: #ca1111;
   border-radius: 15px;
   border: 1px solid white;
   padding: 10px;
   position: absolute;
   bottom: 40px;
   right: 40px;
}

.container_members button {
   all: initial;
   font-size: 25px;
   color: white;
   position: absolute;
   top: 5px;
   right: 5px;
}

.container_members button:hover {
   color: black;
   cursor: pointer;
}

.container_members h3 {
   margin-left: 0px;
   font-weight: bold;
   font-family: 'Russo One', sans-serif;
   border-bottom: 1px solid white;
   width: 120px;
}

.container_members a {
   display: flex;
   text-align: left;
   color: rgba(255, 255, 255, 0.87);
   flex-direction: row;
   align-items: center;
   flex-wrap: nowrap;
   gap: 10px;
}

.container_members a:hover {
   color: white;
   font-weight: bold;
}

.members {
   display: flex;
   flex-direction: column;
}

#made_whith:hover {
   cursor: pointer;
}

#scroll_buttom {
   position: fixed;
   bottom: 30px;
   right: 20px;
}

@media (max-width: 950px) {
   #container_elements {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }

   .div_elements {
      width: 40%;
   }
}

@media (max-width: 767px) {
   #container_elements {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }

   .div_elements {
      width: 200px;
   }

   .text span {
      display: none;
   }

   #useful_links h4 {
      padding-right: 0px;
   }

   .useful_links_div {
      width: 45%;
   }

   #useful_links {
      gap: 10px;
   }

   .container_members{
      bottom: 100px;
      right: initial;
   }
}